disable-website = false
disable-cors = false
request-limit = 5
port = "1323"
static-path = "" # Blank means disabled

lnd-address = "127.0.0.1:10009"
lnd-cert = "TLS cert as hex"
lnd-cert-path = "Alternative to cert. Path to TLS cert file"
lnd-macaroon = "Macaroon as hex"
lnd-macaroon-path = "Alternative to macaroon. Path to macaroon file"